<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      Footer One
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sequi
        libero, nostrum praesentium est tempora tempore reprehenderit rerum
        labore beatae sint optio itaque nemo delectus, ipsum quod quis
        perferendis suscipit?
      </p>
    </div>
    <div class="col-lg-4">
      Footer Two
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quibusdam,
        dolor ipsum id quaerat minima totam ut sapiente provident iste magni cum
        adipisci nemo repellat ullam suscipit sunt maxime nobis!
      </p>
    </div>
    <div class="col-lg-4">
      Footer Three
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        temporibus dicta assumenda cum tenetur? Praesentium perspiciatis in
        tempore, earum magni nemo aspernatur alias, facilis molestias
        repellendus debitis dolorem eum temporibus!
      </p>
    </div>
  </div>
</div>
