<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="py-3">About Me</h3>
      <p>
        I am Thandar Phru. I was born in 1996,Dec 25.I live in Mrauk Oo.
      </p>
    </div>
    <div class="col-lg-4">
      <h3 class='py-3'>Follow Me</h3>
      <div class="social-icon py-2">
        <a href="https://www.facebook.com/profile.php?id=100074218491516">
          <i class="bx bxl-facebook-circle"></i>
        </a>
        <a href="https://www.twitter.com">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="https://www.youtube.com">
          <i class="bx bxl-youtube"></i>
        </a>
        <a href="https://www.instagram.com">
          <i class="bx bxl-instagram-alt"></i>
        </a>

        <a href="https://telegram.org/">
          <i class="bx bxl-telegram"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="py-3">Contact Me</h3>
      <div>
        <p>Location : <span class='float-end'>Mrauk Oo, 12th Street, ......</p> 
        <p>Phone Number: <span  class='float-end'>09-257800046</span></p>
        <p>Gmail: <span  class='float-end'>codewarrior.ksh@gmail.com</span></p>
        <p>Telegram: <span  class='float-end'>www.t.me/kyawsoehla</span></p>
      </d>
    </div>
  </div>
</div>
<hr />
<div class="container-fluid">
  <p>
     <i class='bx bx-copyright'></i>  {% now "Y" %} Thandar Phru, Personal Blog  | All Right Reserved <span class="float-end"> Developed By <a href=''> Qazi Leo</a> </span>
  </p>
</div>