{% load static %}
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="{% url 'home' %}">Thandar Phru</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        {% url 'home' as url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == url %}border-bottom{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% for category in categories %}
        {% url 'category' category.slug as url %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == url %}border-bottom{% endif %}" href="{% url 'category' category.slug %}">{{category.name}}</a>
          </li>{% endfor %}
        <li class="nav-item">
          <a class="nav-link" href='{% url 'home' %}#gallery'>Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'home' %}#aboutme'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{% url 'home' %}#contactme'>Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          name = "q"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav>
<hr />
<!-- END NAVBAR -->
