{% load static %}
<div class="container py-5" id='aboutme'>
    <div class='text-center'>
        <h3>About Me</h3>
        <span class='text-danger fw-bold'>--------</span>
    </div>
  <div class="row py-3">
    <div class="col-lg-4">
        <div class="contact-bout-img">
            <img src="{% static 'images/profileone.jpg' %}" class="card-img-top card-img-top-about-contact" alt="">
        </div>
    </div>
    <div class="col-lg-8">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis
      quibusdam accusantium assumenda voluptas, deleniti doloremque dolores
      harum amet veritatis, necessitatibus maxime corrupti quod, aliquid eveniet
      explicabo officia voluptate soluta repudiandae?
      </p>
      <ul class="highlighted">
        <h4>This is my highlighted!</h4>
        <span class='text-danger fw-bold'>--------------------------------</span>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
        </li>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
        </li>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
        </li>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
        </li>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.  
        </li>
      </ul>
      <div>
        <a href="" download="" class="btn btn-primary btn-sm">Download CV</a>
      </div>
    </div>
  </div>
</div>
