{% extends 'main.html' %} {% load static %}
{% block title %}Gallery{% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="text-center py-3">
        <h3>Gallery</h3>
        <span class="text-danger fw-bold">--------</span>
      </div>
    {% if images %}
    {% for image in images %}
    <div class="col-lg-3">
        <div class="card bg-dark my-2">
          <div class="p-3">
            <div
              class="blog-picture-background"
              style="
                background-image: url('{{image.image.url}}');
                height: 240px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              "
            >
            </div>
          </div>
        </div>
      </div>
    {% endfor %}{% else %}<h1 class="text-white py-5 text-center">
      There is no Image
    </h1>{% endif %}
    
  </div>
</div>
{% endblock content %}
