{% extends 'main.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 py-5">
      <div>
        <h4>Hello , I am Thandar Phru!</h4>
      </div>
      <div class="wrapper">
        <div class="static-txt">I'm a</div>
        <ul class="dynamic-txts">
          <li><span>Soldier</span></li>
          <li><span>Trainer</span></li>
          <li><span>Developer</span></li>
          <li><span>Freelancer</span></li>
        </ul>
      </div>
      <div class="social-icon">
        <a href="">
          <i class="bx bxl-facebook-circle"></i>
        </a>
        <a href="">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="">
          <i class="bx bxl-youtube"></i>
        </a>
        <a href="">
          <i class="bx bxl-instagram-alt"></i>
        </a>

        <a href="">
          <i class="bx bxl-telegram"></i>
        </a>
      </div>
      <div class="py-5">
        <h3>
          Knack of building applications with front and back end operations.
        </h3>
        <a href="#contactme" class="btn btn-danger btn-sm">Contact Me</a>
        <a href="" download="" class="btn btn-primary btn-sm">Download CV</a>
      </div>
    </div>
    <div class="col-lg-6 py-5">
      <div class="profile-picture">
        <div
          class="profile-picture-background"
          style="background-image: url('{% static 'images/aboutme.jpg' %}')"
        ></div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT ME -->
{% include 'base/about.html' %} {% include 'base/contact.html' %} 
{% endblock content %}
