 <div class="container">
      <div class="text-center py-3">
        <h3>Recent Posts</h3>
        <span class="text-danger fw-bold">--------</span>
      </div>
      {% for post in recent_posts %}
      <div class="row py-2">
          <div class="col-lg-5">
            <div
            class="blog-picture-background"
            style="
              background-image: url('{{post.feature.url}}');
              height: 80px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            "
          >
  </div>
  
          </div>
          <div class="col-lg-7">
            <div class="card-title text-dark">
                <a href="{% url 'detail' post.slug %} " class="text-white fs-6"> {{post.title | truncatechars:50}} </a>
                <p class="py-3 text-secondary fs-6">{{post.created|timesince}} agos</p>
              </div>
        </div>
      </div>
      {% endfor %}

  </div>
   